@import "./tailwind.css";
@import "./fonts.css";
* {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;  
}
*::-webkit-scrollbar {
  display: none;
}
html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -ms-overflow-style: none;
  scrollbar-width: none;  
}

.text-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.text-semi-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.text-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.text-extra-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.text-black {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}